/* COMMON
 ------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*
@font-face {
    font-family: Carlito;
    src: url('../font/carlito/Carlito-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Carlito;
    src: url('../font/carlito/Carlito-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Carlito;
    src: url('../font/carlito/Carlito-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Carlito;
    src: url('../font/carlito/Carlito-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
*/
#post-status-info,
.note-dropzone {
    display: none;
}


/* SUMMERNOTE
 ------------------------------------------ */
.summernote .wp-editor-container {
    border: 0; /* 1px solid #dcdcde; */
    background: transparent;
}
.wp-editor-container #wpcontent {
    background: var(--bs-white);
}
.wp-editor-container .wp-heading-inline {
    opacity: 0;
    visibility: hidden;
}
.wp-editor-container .wp-heading-inline + .page-title-action {
    display: none;
}
.summernote #titlediv {
    padding-left: 50px;
}
.summernote #titlediv #title {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: calc(1.375rem + 1.5vw) !important;
    background: transparent;
}
@media (min-width: 1200px) {
    .summernote #titlediv {
        padding-left: 50px;
        padding-right: 50px;
    }
    .summernote #titlediv #title {
        font-size: 2.5rem !important;
        position: relative;
    }
    .summernote #titlediv #title:focus {
        border-left: 0;
        border-right: 0;
        border-top: 0;
        box-shadow: none;
    }
}
.wp-editor-container .note-editor {
    background: transparent;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
.wp-editor-container .note-editor.note-frame .note-editing-area .note-editable,
.wp-editor-container .note-editor.note-airframe .note-editing-area .note-editable {
    padding: 10px 20px 10px 60px;
    font-family: Carlito, Calibri;
}
@media (min-width: 1200px) {
    .wp-editor-container .note-editor.note-frame .note-editing-area .note-editable,
    .wp-editor-container .note-editor.note-airframe .note-editing-area .note-editable {
        padding: 40px 60px 40px 50px;
        position: relative;
    }
    .wp-editor-container .note-editor.note-frame .note-editing-area .note-editable:after,
    .wp-editor-container .note-editor.note-airframe .note-editing-area .note-editable:after {
        border-left: 1px solid rgba(140, 143, 148, 0.5);
        bottom: 0;
        content: ' ';
        display: block;
        left: auto;
        margin: 0;
        opacity: 0.25;
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: 61px;
        top: 0;
        width: 1px;
    }
}
.wp-editor-container .note-editable > h1,
.wp-editor-container .note-editable > .h1,
.wp-editor-container .note-editable > h2,
.wp-editor-container .note-editable > .h2,
.wp-editor-container .note-editable > h3,
.wp-editor-container .note-editable > .h3,
.wp-editor-container .note-editable > h4,
.wp-editor-container .note-editable > .h4,
.wp-editor-container .note-editable > h5,
.wp-editor-container .note-editable > .h5,
.wp-editor-container .note-editable > h6,
.wp-editor-container .note-editable > .h6,
.wp-editor-container .note-editable p,
.wp-editor-container .note-editable > blockquote,
.wp-editor-container .note-editable > ul > li,
.wp-editor-container .note-editable > ol > li,
.wp-editor-container figcaption {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}
.wp-editor-container .note-editable > pre {
    font-size: 1rem;
    overflow: visible;
    position: relative;
}
.wp-editor-container .note-editable > h1:before,
.wp-editor-container .note-editable > .h1:before,
.wp-editor-container .note-editable > h2:before,
.wp-editor-container .note-editable > .h2:before,
.wp-editor-container .note-editable > h3:before,
.wp-editor-container .note-editable > .h3:before,
.wp-editor-container .note-editable > h4:before,
.wp-editor-container .note-editable > .h4:before,
.wp-editor-container .note-editable > h5:before,
.wp-editor-container .note-editable > .h5:before,
.wp-editor-container .note-editable > h6:before,
.wp-editor-container .note-editable > .h6:before {
    bottom: 0;
    display: inline-block;
    margin: 0 10px 0 0;
    opacity: 0.5;
    position: relative;
    vertical-align: middle;
}
.wp-editor-container .note-editable > h1:before,
.wp-editor-container .note-editable > .h1:before {
    margin-left: -1.25rem;
}
.wp-editor-container .note-editable > h2:before,
.wp-editor-container .note-editable > .h2:before {
    margin-left: -2.05rem;
}
.wp-editor-container .note-editable > h3:before,
.wp-editor-container .note-editable > .h3:before {
    margin-left: -2.68rem;
}
.wp-editor-container .note-editable > h4:before,
.wp-editor-container .note-editable > .h4:before {
    margin-left: -3.1rem;
}
.wp-editor-container .note-editable > h5:before,
.wp-editor-container .note-editable > .h5:before {
    margin-left: -3.18rem;
}
.wp-editor-container .note-editable > h6:before,
.wp-editor-container .note-editable > .h6:before {
    margin-left: -3.05rem;
}
.wp-editor-container .note-editable > h1:after,
.wp-editor-container .note-editable > .h1:after,
.wp-editor-container .note-editable > h2:after,
.wp-editor-container .note-editable > .h2:after,
.wp-editor-container .note-editable > h3:after,
.wp-editor-container .note-editable > .h3:after,
.wp-editor-container .note-editable > h4:after,
.wp-editor-container .note-editable > .h4:after,
.wp-editor-container .note-editable > h5:after,
.wp-editor-container .note-editable > .h5:after,
.wp-editor-container .note-editable > h6:after,
.wp-editor-container .note-editable > .h6:after {
    bottom: 0;
    display: block;
    font-weight: 400;
    left: 100%;
    margin: 0 0 0 -1px;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.wp-editor-container .note-editable > h1:before,
.wp-editor-container .note-editable > .h1:before {
    content: '#';
}
.wp-editor-container .note-editable > h2:before,
.wp-editor-container .note-editable > .h2:before {
    content: '##';
}
.wp-editor-container .note-editable > h3:before,
.wp-editor-container .note-editable > .h3:before {
    content: '###';
}
.wp-editor-container .note-editable > h4:before,
.wp-editor-container .note-editable > .h4:before {
    content: '####';
}
.wp-editor-container .note-editable > h5:before,
.wp-editor-container .note-editable > .h5:before {
    content: '#####';
}
.wp-editor-container .note-editable > h6:before,
.wp-editor-container .note-editable > .h6:before {
    content: '######';
}
.wp-editor-container .note-editable > p:after,
.wp-editor-container .note-editable > pre:after {
    left: 100%;
    margin: 0 0 0 -1px;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.wp-editor-container .note-editable > ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.wp-editor-container .note-editable > ol {
    margin-left: 0;
    padding-left: 0;
}
.wp-editor-container .note-editable > ul > li:before {
    margin: 0 0 0 -1px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: -13px;
}
.wp-editor-container .note-editable > ul > li:before {
    content: '◾';
}
.wp-editor-container .note-editable ul > li:after,
.wp-editor-container .note-editable ol > li:after{
    left: 100%;
    margin: 0 0 0 -1px;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.wp-editor-container .note-editable > pre code:before,
.wp-editor-container .note-editable > pre code:after {
    color: #3c434a;
    content: '```';
    display: block;
    margin: 0.25rem;
    height: 0.5rem;
    opacity: 0.5;
}
.wp-editor-container .note-editable figcaption {
  font-size: 1rem;
}
.wp-editor-container .note-editable > figure > blockquote {
  margin-bottom: 0;
}
.wp-editor-container .note-editable > blockquote,
.wp-editor-container .note-editable > figure > blockquote:last-child,
.wp-editor-container .note-editable > figure > blockquote + figcaption {
  margin-bottom: 1rem;
}
.wp-editor-container .note-editable blockquote,
.wp-editor-container .note-editable blockquote + figcaption {
	position: relative;
}
.wp-editor-container .note-editable blockquote > p {
	margin-bottom: 0;
}
.wp-editor-container .note-editable blockquote > p:first-child:before {
	content: '\201C';
}
.wp-editor-container .note-editable blockquote > p:last-child:after {
	content: '\201D';
}
.wp-editor-container .note-editable blockquote:before,
.wp-editor-container .note-editable blockquote + figcaption:before {
	content: ' ';
	display: block;
	position: absolute;
  top: 0;
	right: 100%;
	left: auto;
	bottom: 0;
	width: 0.25rem;
	background: rgba(140, 143, 148, 0.5);
}
.wp-editor-container .note-editable blockquote:before {
	top: -0.25rem;
}
.wp-editor-container .note-editable blockquote:last-child:before,
.wp-editor-container .note-editable blockquote + figcaption:before {
	bottom: -0.25rem;
}
@media (min-width: 1200px) {
    .wp-editor-container .note-editable > h1:after,
    .wp-editor-container .note-editable > .h1:after {
        border-left: 6px solid rgba(140, 143, 148, 0.5);
        content: 'h1';
        padding-left: 4px;
    }
    .wp-editor-container .note-editable > h2:after,
    .wp-editor-container .note-editable > .h2:after {
        border-left: 5px solid rgba(140, 143, 148, 0.5);
        content: 'h2';
        padding-left: 5px;
    }
    .wp-editor-container .note-editable > h3:after,
    .wp-editor-container .note-editable > .h3:after {
        border-left: 4px solid rgba(140, 143, 148, 0.5);
        content: 'h3';
        padding-left: 6px;
    }
    .wp-editor-container .note-editable > h4:after,
    .wp-editor-container .note-editable > .h4:after {
        border-left: 3px solid rgba(140, 143, 148, 0.5);
        content: 'h4';
        padding-left: 7px;
    }
    .wp-editor-container .note-editable > h5:after,
    .wp-editor-container .note-editable > .h5:after {
        border-left: 2px solid rgba(140, 143, 148, 0.5);
        content: 'h5';
        padding-left: 8px;
    }
    .wp-editor-container .note-editable > h6:after,
    .wp-editor-container .note-editable > .h6:after {
        border-left: 1px solid rgba(140, 143, 148, 0.5);
        content: 'h6';
        padding-left: 9px;
    }
    .wp-editor-container .note-editable > p:after {
        border-left: 1px solid rgba(140, 143, 148, 0.5);
        content: 'p';
        padding-left: 10px;
    }
    .wp-editor-container .note-editable > pre:after {
        border-left: 1px solid rgba(140, 143, 148, 0.5);
        content: 'pre';
        padding-left: 10px;
    }
    .wp-editor-container .note-editable > li:after {
        border-left: 1px solid rgba(140, 143, 148, 0.5);
        content: 'li';
        padding-left: 15px;
    }
    .wp-editor-container .note-editable > ul > li:first-child:after {
        content: 'ul';
        padding-left: 10px;
    }
    .wp-editor-container .note-editable > ol > li:first-child:after {
        content: 'ol';
        padding-left: 10px;
    }
}
.wp-editor-container .note-editor.note-frame,
.wp-editor-container .note-editor.note-airframe {
    border: 0;
}


.gallery {
    margin-bottom: 20px;
    margin-left: -4px;
}

.wp-editor-container .gallery:after {
    content: ' ';
    display: block;
    clear: both;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
}

.wp-editor-container .gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
}

.wp-editor-container .gallery-columns-1.gallery-size-medium,
.wp-editor-container .gallery-columns-1.gallery-size-thumbnail,
.wp-editor-container .gallery-columns-2.gallery-size-thumbnail,
.wp-editor-container .gallery-columns-3.gallery-size-thumbnail {
    display: table;
    margin: 0 auto 20px;
}

.wp-editor-container .gallery-columns-1 .gallery-item,
.wp-editor-container .gallery-columns-2 .gallery-item,
.wp-editor-container .gallery-columns-3 .gallery-item {
	text-align: center;
}

.wp-editor-container .gallery-columns-2 .gallery-item {
    max-width: 50%;
    max-width: -webkit-calc(50% - 4px);
    max-width:         calc(50% - 4px);
}

.wp-editor-container .gallery-columns-3 .gallery-item {
    max-width: 33.3%;
    max-width: -webkit-calc(33.3% - 4px);
    max-width:         calc(33.3% - 4px);
}

.wp-editor-container .gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 4px);
    max-width:         calc(25% - 4px);
}

.wp-editor-container .gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 4px);
    max-width:         calc(20% - 4px);
}

.wp-editor-container .gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - 4px);
    max-width:         calc(16.7% - 4px);
}

.wp-editor-container .gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 4px);
    max-width:         calc(14.28% - 4px);
}

.wp-editor-container .gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 4px);
    max-width:         calc(12.5% - 4px);
}

.wp-editor-container .gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 4px);
    max-width:         calc(11.1% - 4px);
}

.wp-editor-container .gallery-columns-1 .gallery-item:nth-of-type(1n),
.wp-editor-container .gallery-columns-2 .gallery-item:nth-of-type(2n),
.wp-editor-container .gallery-columns-3 .gallery-item:nth-of-type(3n),
.wp-editor-container .gallery-columns-4 .gallery-item:nth-of-type(4n),
.wp-editor-container .gallery-columns-5 .gallery-item:nth-of-type(5n),
.wp-editor-container .gallery-columns-6 .gallery-item:nth-of-type(6n),
.wp-editor-container .gallery-columns-7 .gallery-item:nth-of-type(7n),
.wp-editor-container .gallery-columns-8 .gallery-item:nth-of-type(8n),
.wp-editor-container .gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.wp-editor-container .gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.wp-editor-container .gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.wp-editor-container .gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.wp-editor-container .gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1),
.wp-editor-container .widget-area .gallery-columns-2 figure.gallery-item:nth-of-type(2n+1),
.wp-editor-container .widget-area .gallery-columns-3 figure.gallery-item:nth-of-type(3n+1),
.wp-editor-container .widget-area .gallery-columns-4 figure.gallery-item:nth-of-type(4n+1),
.wp-editor-container .widget-area .gallery-columns-5 figure.gallery-item:nth-of-type(5n+1),
.wp-editor-container .widget-area .gallery-columns-6 figure.gallery-item:nth-of-type(6n+1),
.wp-editor-container .widget-area .gallery-columns-7 figure.gallery-item:nth-of-type(7n+1),
.wp-editor-container .widget-area .gallery-columns-8 figure.gallery-item:nth-of-type(8n+1),
.wp-editor-container .widget-area .gallery-columns-9 figure.gallery-item:nth-of-type(9n+1) {
    clear: left;
}

.wp-editor-container .gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    max-height: 50%;
    padding: 2px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    -webkit-transition: opacity 400ms ease;
    transition:         opacity 400ms ease;
    width: 100%;
}

.wp-editor-container .gallery-caption:before {
    box-shadow: 0 -10px 15px #000 inset;
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
