body #buddypress,
#wp-bp-groups-description-editor-container,
#wp-bp-activities-content-editor-container,
.buddypress-wrap .standard-form .wp-editor-container {
	border: 0;
	.EasyMDEContainer {
		.editor-toolbar {
			border-radius: 0;
		}
		.CodeMirror {
			border-radius: 0;
		}
	}
}