body #buddypress {
	.EasyMDEContainer {
		.editor-toolbar {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		.CodeMirror {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}